# dfx / ICP
.dfx/
.mops/
*.wasm
*.did.js
did/

# Node
node_modules/
frontend/package-lock.json
dist/
.env
.env.local
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
